.navbar-background {
  color: white;
  background-color: #003049;
}



.links_nav .menu {
  margin: 0 1rem;
  cursor: pointer;
  font-weight: 500;
  font-size: 1.1rem;
}

.links_nav a {
  color: white;

}

.links_nav .menu:hover {
  color: rgba(255, 255, 255, 0.568);
  scale: 1.1;
  border-bottom: 1px solid white;
}

/* Ensures that navbar items are displayed in a column layout in mobile view */
@media (max-width: 992px) {
  .links_nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menu {
    width: 100%;
    text-align: center;
    padding: 8px 0;
  }
}

/* Custom underline color for links */
.menu a {
  position: relative;
  text-decoration: none;
  color: #000;
  /* Set desired link color */

}

.menu a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: #007bff;
  /* Desired underline color */
  transition: background-color 0.3s ease;
}

/* Change color on hover */
.menu a:hover::after {
  background-color: #ff5733;
  /* Underline color on hover */
}

/* buttons */
.buttons_nav button {
  color: white;
  cursor: pointer;
  margin: 0 1rem;
}

.buttons_nav .register_button {
  background-color: #EAE2B7;
  border: 1px solid #EAE2B7;
  color: black;

}

.buttons_nav .register_button:hover {
  background-color: #eae2b7be;
  border: 1px solid #eae2b7;
  color: black;

}

.buttons_nav .don_button {
  background-color: #D62828;
  border: 1px solid #D62828;
}

.buttons_nav .don_button:hover {
  background-color: #d62828b7;
  border: 1px solid #D62828;
}

.buttons_nav button:hover {
  /* color: rgba(255, 255, 255, 0.568); */
  scale: 1.1;
}

/* Makes the navbar-toggler-icon white */
.navbar-toggler-custom .navbar-toggler-icon {
  /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); */
}

/* Optional: Adjusts the button border color */
.navbar-toggler-custom {
  border: white 1px solid;
}