/* chiffres */
.chiffre_bg {
  background-color: #EAE2B7;
  padding: 30px 20px;
  box-shadow: #002f497a 0px 30px 60px -6px inset, #002f4950 0px 18px 36px -2px inset;
  overflow: hidden;
}

.stat-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.stat-item {
  flex: 0 1 100%;
  border-radius: 10px;
  padding: 20px;
  margin: 10px 0;
  position: relative;
  animation: moveUpDown 5s ease-in-out infinite alternate;
}

@media (min-width: 768px) {
  .stat-item {
    flex: 0 1 45%;
    /* Two per row on medium screens */
  }
}

@media (min-width: 1200px) {
  .stat-item {
    flex: 0 1 22%;
    /* Four per row on large screens */
  }
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-20px);
  }
}




/* video */
.video_section {
  background-color: #003049;
  padding: 25px 0px;
  color: #EAE2B7;
}

.video_section video {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  height: auto;
}

.video_section .text-video {
  font-size: 1.3em;

}




/* actions */
.actions hr {
  width: 10%;
  margin: auto;
  border: #003049 2px solid;
  opacity: 1;
}
.actions h3{
  color: #003049;
}






/* blogs */
.blogs button {
  color: white;
  background-color: #003049;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

.blogs hr {
  width: 10%;
  margin: auto;
  border: #003049 2px solid;
  opacity: 1;
}
.blogs h3{
  color: #003049;
}

.blogs button:hover {
  cursor: pointer;
  background-color: #FCBF49;
  color: black;
}