/* caroussel */
.images_carousel {
  position: relative;
}

.content_carousel {
  height: 660px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.carousel_slide {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide_background {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(3px); /* Only the blur effect */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

/* Dark overlay on top of the blurred image */
.carousel_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Dark overlay */
  z-index: 2;
}

.carousel_text {
  position: relative;
  color: #fff;
  text-align: center;
  z-index: 3; 
}

.carousel_text h2 {
  font-size: 2.5em;
  margin-bottom: 10px;
  font-weight: bold;
}

.carousel_text p {
  font-size: 1.2em;
  color: rgba(255, 255, 255, 0.685);
  font-style: italic;

}
.carousel_text button  {
  background-color: #FCBF49;
  border: 1px solid #FCBF49;
  color: black;
  font-size: larger;
  padding: 5px 10px;
  border-radius: 10px;
}

.carousel_text button:hover {
  background-color: #EAE2B7;
  border: 1px solid #eae2b7;
}

/* Responsive adjustments */
@media screen and (max-width: 968px) {
  .content_carousel {
    height: 400px;
  }

  .carousel_text h2 {
    font-size: 2em;
  }

  .carousel_text p {
    font-size: 1em;
  }
}




/* les 3 rubriques */
.card-img-custom {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.rubriques .card-body {
  color: #003049;
}

@media screen and (max-width: 968px) {
  .card-img-custom {
    height: 200px;
  }
}

.rubriques button {
  color: white;
  background-color: #003049;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

.rubriques .card {
  cursor: pointer;
}

.rubriques button:hover {
  background-color: #FCBF49;
  color: black;
}



/* chiffres */
.chiffre_bg {
  background-color: #EAE2B7;
  padding: 30px 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -6px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -2px inset;
  overflow: hidden;
}

.stat-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.stat-item {
  flex: 0 1 100%;
  /* Default full width */
  padding: 20px;
  margin: 10px 0;
  position: relative;
  animation: moveUpDown 5s ease-in-out infinite alternate;
  /* Infinite animation */
}

@media (min-width: 768px) {
  .stat-item {
    flex: 0 1 45%;
    /* Two per row on medium screens */
  }
}

@media (min-width: 1200px) {
  .stat-item {
    flex: 0 1 22%;
    /* Four per row on large screens */
  }
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-20px);
  }
}


/* video */
.video_section {
  background-color: #003049;
  padding: 25px 0px;
  color: #EAE2B7;
}

.video_section video {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  height: auto;
}

.video_section .text-video {
  font-size: 1.3em;

}




/* actions */
.actions hr {
  width: 10%;
  margin: auto;
  border: #003049 2px solid;
  opacity: 1;
}

.actions .card {
  background-color: #003049;
  color: white;
  border: #FCBF49 1px solid;
}


/* blogs */
.blogs button {
  color: white;
  background-color: #003049;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

.blogs hr {
  width: 10%;
  margin: auto;
  border: #003049 2px solid;
  opacity: 1;
}

.blogs button:hover {
  cursor: pointer;
  background-color: #FCBF49;
  color: black;
}