
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Hero Section */
.container .hero-section {
  position: relative;
  height: 17rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-red);
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
}

.container .title {
  color: #003049;
}
.container .hero-content {
  position: relative;
  z-index: 2;
  padding: var(--spacing-base);
}

.container .hero-title {
  font-size: 3.5rem;
  font-weight: 700;
  margin-top: var(--spacing-base);
}

.protection-enfance{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding: 1rem; */
  /* margin: 1rem; */
}
.protection-enfance img{
  border-radius: 20px;
  width: 100%;
  height: 500px;
}
.protection-enfance p {
  font-size: 1.2rem;
  margin-bottom: var(--spacing-base);
  jastify-content: center;
}

.foyer-bab-rayan{

}

.projet-vie{

}

 .foyer h3 {
  font-size: 1.5rem;
  font-weight: 700;
      margin-left: auto;
    margin-right: auto;
    /* width: 6em */
  /* justify-content: center; */
  /* color: var(--primary-red); */
  margin-bottom: var(--spacing-base);
}

.pic-foyer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.pic-foyer img{
  width: 100%;
  height:80%;
  max-width: 400px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}